<plugin name='webxml' version='0.1'>
  <author>Roger Cass</author>
  <authorEmail>roger.cass@byu.net</authorEmail>
  <title>Create useful additions to web.xml</title>
  <description>Used the doWithWebDescriptor feature of plugins to create application-configured features otherwise unavailable.</description>
  <resources>
    <resource>DataSource</resource>
    <resource>DefaultWebXmlConfig</resource>
    <resource>UrlMappings</resource>
  </resources>
</plugin>